html, body {
  font-family: sans-serif;
}

/*======= 
 = GRID 
 ========*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box
}
.grid:after {
  content: "";
  display: table;
  clear: both
}
[class*='x-'] {
  float: left;
}
[class*='x-']:last-of-type {
  float: right
}
.x-2 {
  width: 50%;
  padding-right: 1%;
}

/*======= 
 = KART 
 ========*/
.wrapper {
  padding: 15px;
  margin: 0 auto;
  max-width: 800px;
}
header {
  width: 95%;
}
form {
  margin: 20px 0;
}
#gp-list {
  list-style: none;
  margin: 0;
}
.total {
  color: #fff;
  background-color: #333;
  font-size: 2em;
}
.box {
  display: block;
  text-align: center;
}
.score {
  background-color: #e5e5e5;
  color: #555;
}
.winner {
  background-color: lightGreen;
  color: green
}
.bonus {
  background-color: yellow;
  color: gold;
}
.item {
  width: 95%;
  float: left;
}
#gp-list li {
  position: relative;
  margin: 5px 0;
  line-height: 50px;
}
#gp-list .img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 45%;
  border: 5px solid #fff;
  text-align: center;
  background-color: #ddd;
  color: #888;
  /* line-height: 50px; */
}
button {
  border: none;
  background: none;
}
.delete {
  background: #eee;
  color: #888;
  /* line-height: 50px; */
  padding: 0;
  margin: 0;
  width: 5%;
  font-size: 1.5em;
}

